version: '3'
services:
    web-porto:
        image: ${DOCKER_USERNAME}/${IMAGE_NAME}:latest
        container_name: ${IMAGE_NAME}
        restart: unless-stopped
        tty: true
        environment:
            SERVICE_NAME: ${IMAGE_NAME}
            SERVICE_TAGS: dev
        working_dir: /var/www
        volumes:
            - ./:/var/www
        networks:
            - database-network
            - web-network

networks:
    database-network:
        external: true
    web-network:
        external: true