version: '3.8'

services:
    php-fpm:
        image: ${DOCKER_USERNAME}/${IMAGE_NAME}:latest
        container_name: ${IMAGE_NAME}-${APP_ENV}-php-fpm
        restart: unless-stopped
        tty: true
        env_file:
            - .env
        environment:
            SERVICE_NAME: ${IMAGE_NAME}-${APP_ENV}-php-fpm
            SERVICE_TAGS: dev
        working_dir: /var/www
        volumes:
            - ./storage:/var/www/storage
        deploy:
            resources:
                limits:
                    cpus: '1.0'
                    memory: 400M
        networks:
            - database-network
            - proxy
    nginx:
        image: nginx:alpine
        container_name: ${IMAGE_NAME}-${APP_ENV}-nginx
        restart: unless-stopped
        working_dir: /var/www
        - ./:/var/www
        - ./nginx.conf:/etc/nginx/conf.d/default.conf
        volumes:
            - ./:/var/www
            - ./nginx.conf:/etc/nginx/conf.d/default.conf
        depends_on:
            - php-fpm
        networks:
            - database-network
            - proxy
        labels:
            - "traefik.enable=true"
            - "traefik.http.routers.${IMAGE_NAME}-${APP_ENV}.entrypoints=web"
            - "traefik.http.routers.${IMAGE_NAME}-${APP_ENV}.rule=Host(`${APP_HOST}`)"
            - "traefik.http.middlewares.${IMAGE_NAME}-${APP_ENV}-https-redirect.redirectscheme.scheme=https"
            - "traefik.http.routers.${IMAGE_NAME}-${APP_ENV}.middlewares=${IMAGE_NAME}-${APP_ENV}-https-redirect"
            - "traefik.http.routers.${IMAGE_NAME}-${APP_ENV}-secure.entrypoints=websecure"
            - "traefik.http.routers.${IMAGE_NAME}-${APP_ENV}-secure.rule=Host(`${APP_HOST}`)"
            - "traefik.http.routers.${IMAGE_NAME}-${APP_ENV}-secure.tls=true"
            - "traefik.http.routers.${IMAGE_NAME}-${APP_ENV}-secure.tls.certresolver=http"
            - "traefik.http.routers.${IMAGE_NAME}-${APP_ENV}-secure.service=${IMAGE_NAME}-${APP_ENV}-nginx"
            - "traefik.http.services.${IMAGE_NAME}-${APP_ENV}-nginx.loadbalancer.server.port=80"
            - "traefik.docker.network=proxy"

networks:
    database-network:
        external: true
    proxy:
        external: true